.container {
  display: flex;
  flex-direction: column;
}

.contacts {
  background-color: black;
  height: 45px;
  color: #fff;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.contacts__icon {
  height: 15px;
  width: 15px;
  font-size: 12px;
  justify-content: center;
  align-items: center;
  padding-left: 3rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-right: 2rem;
}

.details {
  display: flex;
  flex-direction: column;
  width: fit-content;
}
.description__label {
  display: flex;
  flex-direction: row;
}
.detail {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: auto;
}

.contacts__desc {
  letter-spacing: 0px;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
}

.contacts__social {
  display: flex;
  flex-direction: row;
  margin-left: auto;
  margin-right: 2rem;
}

.brand {
  margin: 1rem;
  display: flex;
  flex-direction: row;
  justify-self: center;
}

.brand__name {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 18px;
}

.brand__items {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: auto;
  color: #3f4853;
  font-size: 13px;
  padding-left: 7rem;
}

.best__seller {
  display: flex;
  flex-direction: row;
}

.best__seller--text {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.best__seller__products {
  display: flex;
  flex-direction: row;
  flex-grow: 3;
  justify-content: space-evenly;
}

.best__seller__container{
    display: flex;
    flex-direction: column;
    padding-top: 3rem;
}

.related__products{
    padding-left: 6rem;
    font-weight: bold;

}

.related__product__container{
    display: flex;
    flex-direction: row;
    padding-bottom: 2rem;
}

.slider_arrow{
    margin-left: auto;
    padding-right: 6rem;
   
    /* margin-right: 2rem; */
    /* padding-right: 1rem; */
    /* float: right; */
    /* display: flex;
    flex-direction: row;
    flex-wrap: wrap-reverse; */

}
.green{
    background-color: #3cb878;
    border: none;
    outline: none;
color: white;
/* float: r; */

}
/* .left{
    margin-right: 5rem;
}

.right{
    margin-left: 3rem;
} */

.form__heading {
  padding: 1rem;
  padding-bottom: 0rem;
  padding-top: 0;
}
.review__title {
  padding-left: 1rem;
  padding-top: 1rem;
  font-weight: bold;
  font-size: 18px;
}

.img__container {
  position: relative;
}

.items {
  display: flex;
  flex-direction: row;
}
.hoverbtn {
  background-color: #3cb878;
  display: flex;
  flex-direction: column;
  margin: 0.5rem;
}

.cart__item {
  display: flex;
  flex-direction: row;
  border-bottom: 0.5px solid #ebebeb;
  padding: 0.5rem;
}

.cart__icon__container {
  position: relative;
  width: 20px;
  height: 20px;
  margin-right: 1rem;
}

.cart__number {
  position: absolute;
  border-radius: 100%;
  padding: 0.1rem;
  top: 5px;
  right: -17px;
  background-color: #3cb878;
  font-weight: bold;
  z-index: 999;
  color: white;
}

.menu__cartlist {
  padding: 1rem;
  width: 250px;
  top: 40px;
  display: none;
  right: 15px;
  background-color: white;
  z-index: 999;
  position: absolute;
  box-shadow: 5px 5px 10px 0px #808080;
  height: 150px;
  overflow: auto;
}

.hover__container {
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 10px;
  display: none;
  right: 3px;
}

.slider {
  font-size: 30px;
  padding: 9rem;
  height: 30vh;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-image: url("../images/pexels-mark-mccammon-1080696.jpg");
}

.slider__container {
  width: 100%;
  height: 50vh;
  position: absolute;
  overflow: hidden;
}

.slider__button {
  background-color: transparent;
  border: 2px solid #808080;
  padding: 0.25rem 0.5rem 0.25rem 0.5rem;
  font-weight: bold;
}
.images__items {
  width: 100%;
  display: none;
  height: 100%;
  position: relative;
  left: 0;
  z-index: -10;
}

.description__quantity {
  display: flex;
  flex-direction: row;
  margin-left: 1rem;
  width: 30%;
}
.buttons {
  display: flex;
  flex-direction: row;
}

.form {
  display: flex;
  flex-direction: column;
  padding: 2rem;
}

.form__input--field {
  flex-grow: 1;
  margin: 1rem;
  padding: 1rem;
  border: 0.5px solid #ebebeb;
}
.form__input {
  display: flex;
  flex-direction: row;
  width: 70%;
}

.form__review {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  margin: 1rem;
}
.form__title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 70%;
}
.form__rating {
  display: flex;
  flex-direction: row;
}

.review__name {
  font-weight: bold;
  font-size: 18px;
}

.review__item {
  padding: 0.75rem;
}

.detail__image__slider{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.slider__left,.slider__right{
    background-color: #3cb878;
    color: white;
    padding: 1rem 0.15rem 1rem 0.15rem;
    outline: none;
    border: none;
    margin: 1rem;
}

.img__small{
    height: 50px;
    width: 30px;
    margin: 0.5rem;
}

.service {
  background-color: #f5f6f9;
  height: 80%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.service__deals {
  display: flex;
  flex-direction: row;
}
.service__items {
  display: flex;
  flex-direction: column;
  margin: 3rem;
  justify-self: center;
  align-items: center;
  color: #808080;
  font-size: 12px;
}

.sale {
  display: flex;
  flex-direction: row;
}

.sale__item {
  flex-grow: 1;
  background-color: #2e3348;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.diamond__text--bold {
  white-space: nowrap;
  width: 100%;
  display: flex;
  flex-direction: column;
  font-weight: bold;
  position: relative;
  margin: auto;
  margin-top: 30%;
  font-size: 22px;
  color: white;
  text-align: center;
  height: fit-content;
  width: fit-content;
  line-height: 20px;
}
.diamond__subtext {
  font-weight: normal;
  color: white;
  font-size: 12px;
  height: fit-content;
  width: fit-content;
  text-align: center;
  margin: auto;
}
.products {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 1rem;
}
.products__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.product__menu {
  display: flex;
  flex-direction: column;
  justify-self: center;
  align-items: flex-start;
  padding: 1rem;
}
.products--para {
  padding: 1rem;
  font-weight: bold;
  color: #333333;
  width: 400px;
}

.product--review {
  display: flex;
  flex-direction: row;
}

.line {
  display: flex;
  flex-direction: row;
  margin: auto;
  justify-self: center;
}

.line__text {
  font-size: 14px;
  letter-spacing: 0px;
  line-height: 20px;
  color: #333333;
  font-weight: 400;
  margin: auto;
}

.subscribe {
  height: 80%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.feedback__container {
  display: flex;
  flex-direction: row;
}

.feedback__tab {
  padding: 0.5rem;
  background: white;
  cursor: pointer;
}

.active {
  background-color: #f5f6f9;
}

.subscribe__newsletter {
  background-color: #2b2f41;
  display: flex;
  padding: 2rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  font-style: bold;
}

.form__reviews {
  display: flex;
  flex-direction: row;
}

.review__image {
  margin-left: 2rem;
  width: 75px;
  height: 75px;
  background-color: black;
  margin-top: 1rem;
  margin-right: 1rem;
}

.review__comment {
  margin-top: 1rem;
  background-color: white;
  margin-right: 2rem;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  width: 90%;
}

.subscribe__images {
  background-color: #f5f6f9;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 1rem;
}

.subscribe__item {
  flex-grow: 1;
}

.product__price {
  margin-left: auto;
  color: #3cb878;
}

.product__name {
  font-weight: bold;
  font-size: 16px;
}

.footer__menu {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 1rem;
}

.footer__menu__topic {
  display: flex;
  flex-direction: column;
}

.footer__links {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  text-decoration: none;
}
.footer__icon {
  height: 15px;
  width: 15px;
  margin: 8px;
}

.footer__link {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  text-decoration: none;
  color: #333333;
  padding: 8px;
}
.footer__bottom {
  background-color: black;
  height: 4rem;
  display: flex;
  flex-direction: row;
}
.footer__bottom--text {
  display: flex;
  flex-direction: row;
  color: #808080;
  margin-left: auto;
  padding-top: 1rem;
  padding-bottom: 1rem;
  justify-content: center;
  align-items: center;
}

.footer--card {
  height: 3rem;
  margin-left: auto;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-right: 2rem;
  margin-top: 0.75rem;
}

@media screen and (min-width: 0px) and (max-width: 768px) {
  .sale {
    display: flex;
    flex-direction: column;
  }
  .products__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .subscribe {
    display: flex;
    flex-direction: column;
  }
  .subscribe__images {
    display: flex;
    flex-direction: column;
  }
  .best__seller__products {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    align-items: center;
  }
  .service {
    background-color: #f5f6f9;
    display: flex;
    flex-direction: column;
  }
  .brand {
    margin: 1rem;
    display: flex;
    flex-direction: column;
    justify-self: center;
    position: relative;
  }
  .brand__name {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 18px;
  }
  .brand__items {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    font-size: 13px;
    padding-left: 0.5rem;
  }
  .contacts {
    height: 120px;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .best__seller {
    display: flex;
    flex-direction: column;
  }
  .footer__menu {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 1rem;
  }
  .footer__bottom {
    height: 8rem;
    display: flex;
    flex-direction: column;
  }
  .line {
    display: flex;
    flex-direction: column;
    margin: auto;
    justify-self: center;
  }
  .slider {
    background-size: 100% 100%;
    background-repeat: no-repeat;
    font-size: 30px;
    padding: 1rem;
    height: 50vh;

    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-color: black;
    background-image: url("../images/pexels-mark-mccammon-1080696.jpg");
  }

  .form__input {
    display: flex;
    flex-direction: column;
  }

  .form__title {
    display: flex;
    flex-direction: column-reverse;
  }
  .form__rating {
    display: flex;
    flex-direction: column;
  }
  .detail {
    display: flex;
    flex-direction: column;
  }
  .buttons {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .description__label {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
}
